Repository kaskada-ai/kaskada, pull requests merged in 2023-07, with the labels that each got.

#468 rectified <a> tag for Development text in CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: cla-signed

#457 feat: use explicit type variable in signatures
  crates/sparrow-compiler/src/functions/aggregation.rs
  crates/sparrow-compiler/src/functions/comparison.rs
  crates/sparrow-compiler/src/functions/general.rs
  crates/sparrow-compiler/src/functions/logical.rs
  crates/sparrow-compiler/src/functions/math.rs
  crates/sparrow-compiler/src/functions/time.rs
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-main/tests/e2e/basic_error_tests.rs
  crates/sparrow-plan/src/inst.rs
  crates/sparrow-syntax/src/parser/grammar.lalrpop
  crates/sparrow-syntax/src/syntax/arguments.rs
  crates/sparrow-syntax/src/syntax/fenl_type.rs
  crates/sparrow-syntax/src/syntax/signature.rs
Labels: enhancement, sparrow, cla-signed

#471 feat: Read directly during compute
  Cargo.lock
  Cargo.toml
  crates/sparrow-runtime/Cargo.toml
  crates/sparrow-runtime/src/data_manager.rs
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/compute_executor.rs
  crates/sparrow-runtime/src/execute/input_prefetch.rs
  crates/sparrow-runtime/src/execute/operation.rs
  crates/sparrow-runtime/src/execute/operation/scan.rs
  crates/sparrow-runtime/src/execute/operation/testing.rs
  crates/sparrow-runtime/src/execute/output/object_store.rs
  crates/sparrow-runtime/src/lib.rs
  crates/sparrow-runtime/src/metadata/prepared_metadata.rs
  crates/sparrow-runtime/src/read.rs
  crates/sparrow-runtime/src/read/error.rs
  crates/sparrow-runtime/src/read/parquet_file.rs
  crates/sparrow-runtime/src/read/parquet_stream.rs
  crates/sparrow-runtime/src/read/table_reader.rs
  crates/sparrow-runtime/src/stores/object_store_url.rs
  tests/integration/api/mat_pulsar_to_pulsar_test.go
  wren/compute/helpers.go
Labels: enhancement, wren, sparrow, cla-signed

#476 feat: Use object_store for metadata
  crates/sparrow-catalog/src/update.rs
  crates/sparrow-catalog/src/update/execute_example.rs
  crates/sparrow-main/src/batch.rs
  crates/sparrow-main/src/materialize.rs
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/tests/e2e/fixture/query_fixture.rs
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/key_hash_inverse.rs
  crates/sparrow-runtime/src/metadata/prepared_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  wren/compute/helpers.go
Labels: enhancement, wren, sparrow, cla-signed

#475 feat: Prepare directly to object stores
  crates/sparrow-catalog/src/update/execute_example.rs
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/src/serve/preparation_service.rs
  crates/sparrow-main/tests/e2e/fixture/local_table.rs
  crates/sparrow-runtime/src/metadata/prepared_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/prepare/error.rs
  crates/sparrow-runtime/src/read/table_reader.rs
  crates/sparrow-runtime/src/stores/object_store_url.rs
  wren/compute/prepare_manager.go
Labels: enhancement, wren, sparrow, cla-signed

#480 ci: Only retrieve kaskada logs
  .github/workflows/ci_engine.yml
Labels: build, cla-signed

#469 Update ci_engine.yml
  .github/workflows/ci_engine.yml
Labels: build, cla-signed

#483 simplified docker-compose for ci, upgraded pulsar in ci
  Makefile
  tests/integration/docker-compose-ci-integration.yml
  tests/integration/docker-compose.ci.yml
  tests/integration/docker-compose.yml
Labels: cla-signed

#478 #466 feat: Python Client Supports Multiple File Output
  clients/python/src/fenlmagic/__init__.py
Labels: python, cla-signed

#487 minor: cleanup comment in expressions
  crates/sparrow-expressions/src/lib.rs
Labels: sparrow, cla-signed

#479 feat: Use metadata for retrieving the schema
  Cargo.lock
  crates/sparrow-runtime/Cargo.toml
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/read/parquet_file.rs
  crates/sparrow-runtime/src/stores/object_store_url.rs
  crates/sparrow-runtime/src/stores/object_stores.rs
Labels: enhancement, sparrow, cla-signed

#488 fixes wren unit test flakiness
  tests/integration/api/go.mod
  tests/integration/api/go.sum
  wren/compute/compile_manager_test.go
  wren/compute/compute_suite_test.go
  wren/go.mod
  wren/go.sum
Labels: wren, cla-signed

#458 feat: Kafka Backed Sources API Proposal
  crates/sparrow-main/src/prepare.rs
  crates/sparrow-main/src/serve/file_service.rs
  crates/sparrow-main/src/serve/preparation_service.rs
  crates/sparrow-runtime/src/execute/operation/scan.rs
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  proto/kaskada/kaskada/v1alpha/common.proto
  proto/kaskada/kaskada/v1alpha/file_service.proto
  proto/kaskada/kaskada/v1alpha/kafka.proto
  proto/kaskada/kaskada/v1alpha/sources.proto
  wren/compute/file_manager.go
  wren/service/query_v2.go
Labels: enhancement, wren, sparrow, proto, cla-signed

#491 build: Upgrade Arrow, Parquet and Object Store
  Cargo.lock
  Cargo.toml
  crates/sparrow-main/tests/e2e/notebooks/sample_tests.rs
Labels: sparrow, build, cla-signed

#490 improved reliability of integration tests
  Dockerfile
  Dockerfile.go_cross_amd64_to_arm64
  Makefile
  tests/integration/api/api_suite_test.go
  tests/integration/api/graceful_shutdown_test.go
  tests/integration/api/mat_pulsar_to_obj_store_test.go
  tests/integration/api/mat_pulsar_to_pulsar_test.go
  tests/integration/api/mat_table_to_pulsar_test.go
  tests/integration/api/materializations_test.go
  tests/integration/api/queries_v1_test.go
  tests/integration/api/query_v1_csv_test.go
  tests/integration/api/query_v1_incremental_test.go
  tests/integration/api/query_v1_rest_test.go
  tests/integration/api/views_test.go
  wren/client/object_store_client.go
Labels: wren, cla-signed

#489 #484 - Python Client Object Store Configs
  clients/python/src/kaskada/api/session.py
Labels: python, cla-signed

#482 feat: support type inference for map<k,v>
  crates/sparrow-api/src/kaskada/v1alpha/schema_traits.rs
  crates/sparrow-compiler/src/functions.rs
  crates/sparrow-compiler/src/functions/collection.rs
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-main/tests/e2e/collection_tests.rs
  crates/sparrow-main/tests/e2e/main.rs
  crates/sparrow-physical/src/step.rs
  crates/sparrow-plan/src/inst.rs
  crates/sparrow-runtime/src/execute/operation/lookup_request.rs
  crates/sparrow-syntax/src/parser/grammar.lalrpop
  crates/sparrow-syntax/src/syntax/fenl_type.rs
  crates/sparrow-syntax/src/syntax/signature.rs
  proto/kaskada/kaskada/v1alpha/schema.proto
Labels: enhancement, python, wren, sparrow, proto, cla-signed

#495 feat: Use object_store to read prepare inputs
  Cargo.lock
  crates/sparrow-api/src/kaskada/v1alpha.rs
  crates/sparrow-catalog/src/update/execute_example.rs
  crates/sparrow-main/Cargo.toml
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/src/serve/file_service.rs
  crates/sparrow-main/src/serve/preparation_service.rs
  crates/sparrow-main/tests/e2e/fixture/data_fixture.rs
  crates/sparrow-main/tests/e2e/fixture/local_table.rs
  crates/sparrow-main/tests/e2e/fixture/parquet_table_builder.rs
  crates/sparrow-main/tests/e2e/parquet_tests.rs
  crates/sparrow-main/tests/e2e/prepare_tests.rs
  crates/sparrow-main/tests/e2e/record_tests.rs
  crates/sparrow-runtime/src/execute/key_hash_inverse.rs
  crates/sparrow-runtime/src/lib.rs
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/prepare/error.rs
  crates/sparrow-runtime/src/prepare/prepare_input_stream.rs
  crates/sparrow-runtime/src/read/parquet_file.rs
  crates/sparrow-runtime/src/read/parquet_stream.rs
  crates/sparrow-runtime/src/stores.rs
  crates/sparrow-runtime/src/stores/object_meta_ext.rs
  crates/sparrow-runtime/src/streams/pulsar/stream.rs
Labels: enhancement, sparrow, cla-signed

#496 fix: clippy warnings in collection_tests
  crates/sparrow-main/tests/e2e/collection_tests.rs
Labels: bug, sparrow, cla-signed

#492 feat: Use object_store to write files
  crates/sparrow-main/tests/e2e/decoration_tests.rs
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/operation.rs
  crates/sparrow-runtime/src/execute/operation/scan.rs
  crates/sparrow-runtime/src/execute/operation/testing.rs
  crates/sparrow-runtime/src/execute/output.rs
  crates/sparrow-runtime/src/execute/output/csv.rs
  crates/sparrow-runtime/src/execute/output/object_store.rs
  crates/sparrow-runtime/src/execute/output/parquet.rs
  crates/sparrow-runtime/src/execute/output/redis.rs
  crates/sparrow-runtime/src/execute/progress_reporter.rs
  crates/sparrow-runtime/src/lib.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/stores/object_store.rs
  wren/client/object_store_client.go
  wren/compute/compute_manager.go
  wren/compute/prepare_manager.go
  wren/service/materialization.go
  wren/service/query_v1.go
Labels: enhancement, wren, sparrow, cla-signed

#498 docs(install) updates instructions for installation
  docs-src/modules/ROOT/pages/installing.adoc
  docs-src/modules/getting-started/pages/hello-world-cli.adoc
  install/install.sh
Labels: documentation, cla-signed

#501 ref: Cleanup object_store code a bit
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/prepare/error.rs
  crates/sparrow-runtime/src/stores.rs
  crates/sparrow-runtime/src/stores/object_store_key.rs
  crates/sparrow-runtime/src/stores/object_store_url.rs
  crates/sparrow-runtime/src/stores/registry.rs
Labels: sparrow, refactor, cla-signed

#506 lint: Run `clippy --fix`
  crates/sparrow-compiler/src/dfg/analysis.rs
  crates/sparrow-compiler/src/functions/function.rs
  crates/sparrow-instructions/benches/sparrow_instructions_benches/primitive_accum_token_bench.rs
  crates/sparrow-instructions/src/evaluators/aggregation/two_stacks.rs
  crates/sparrow-instructions/src/evaluators/comparison.rs
  crates/sparrow-instructions/src/evaluators/equality.rs
  crates/sparrow-instructions/src/evaluators/math.rs
  crates/sparrow-instructions/src/evaluators/math/clamp.rs
  crates/sparrow-instructions/src/evaluators/math/exp.rs
  crates/sparrow-instructions/src/evaluators/math/min_max.rs
  crates/sparrow-instructions/src/evaluators/math/powf.rs
  crates/sparrow-runtime/src/execute/operation/spread.rs
Labels: sparrow, cla-signed

#507 fixed gcs file loading and query
  wren/client/object_store_client.go
Labels: wren, cla-signed

#509 adds beta release ci flow
  .github/workflows/release_engine.yml
  .github/workflows/release_python_client.yml
Labels: build, cla-signed

#511 skips pypi for beta release flow
  .github/workflows/release_python_client.yml
Labels: build, cla-signed

#517 docs(beta): instructions for beta releases
  docs/release-process.adoc
Labels: documentation, cla-signed

#510 ci: kaskada only logs for s3 tests
  .github/workflows/ci_engine.yml
Labels: build, cla-signed

#503 feat: Use object store for rocksdb and debugging
  Cargo.lock
  Cargo.toml
  crates/sparrow-main/Cargo.toml
  crates/sparrow-main/src/serve.rs
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/src/serve/file_service.rs
  crates/sparrow-main/src/serve/preparation_service.rs
  crates/sparrow-main/tests/e2e/fixture/query_fixture.rs
  crates/sparrow-main/tests/e2e/resumeable_tests.rs
  crates/sparrow-materialize/src/materialize/materialization.rs
  crates/sparrow-materialize/src/materialize/materialization_control.rs
  crates/sparrow-runtime/Cargo.toml
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/checkpoints.rs
  crates/sparrow-runtime/src/execute/compute_executor.rs
  crates/sparrow-runtime/src/execute/error.rs
  crates/sparrow-runtime/src/execute/operation/lookup_request.rs
  crates/sparrow-runtime/src/execute/operation/lookup_response.rs
  crates/sparrow-runtime/src/execute/operation/select.rs
  crates/sparrow-runtime/src/execute/operation/shift_to.rs
  crates/sparrow-runtime/src/execute/operation/shift_until.rs
  crates/sparrow-runtime/src/execute/operation/with_key.rs
  crates/sparrow-runtime/src/execute/output/object_store.rs
  crates/sparrow-runtime/src/lib.rs
  crates/sparrow-runtime/src/s3.rs
  crates/sparrow-runtime/src/s3/download_snapshot.rs
  crates/sparrow-runtime/src/s3/upload_snapshot.rs
  crates/sparrow-runtime/src/stores/object_store_url.rs
  crates/sparrow-runtime/src/stores/registry.rs
  crates/sparrow-runtime/src/util/join_task.rs
  proto/kaskada/kaskada/v1alpha/compute_service.proto
  tests/integration/api/query_v1_incremental_test.go
  wren/compute/compute_manager.go
  wren/compute/helpers.go
Labels: enhancement, wren, sparrow, proto, cla-signed

#515 Python client beta release
  .github/workflows/release_python_client.yml
Labels: build, cla-signed

#516 engine beta release fixes
  .github/workflows/release_engine.yml
Labels: build, cla-signed

#519 docs: Update Slice Filters Documentation
  docs-src/modules/developing/pages/slices.adoc
Labels: documentation, cla-signed

#500 feat: add `get` function for maps (for string -> primitive)
  .vscode/settings.json
  crates/sparrow-api/src/kaskada/v1alpha/plan_impl.rs
  crates/sparrow-api/src/kaskada/v1alpha/schema_traits.rs
  crates/sparrow-arrow/src/downcast.rs
  crates/sparrow-arrow/src/scalar_value.rs
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/compile.rs
  crates/sparrow-compiler/src/dfg.rs
  crates/sparrow-compiler/src/functions/pushdown.rs
  crates/sparrow-compiler/src/snapshots/sparrow_compiler__plan__tests__simple_plan.snap
  crates/sparrow-compiler/src/snapshots/sparrow_compiler__plan__tests__three_tables.snap
  crates/sparrow-compiler/src/snapshots/sparrow_compiler__plan__tests__three_tables_merged_differently.snap
  crates/sparrow-compiler/src/snapshots/sparrow_compiler__plan__tests__two_tables.snap
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-compiler/tests/compiler_golden_tests.rs
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__basic_sum.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__basic_sum_when_aggregate.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__basic_sum_when_event.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__cast_in_record.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__count_since_window.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_diff_grouping.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_same_grouping.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_same_grouping_with_slicing.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__null_record.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__null_record_field.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__null_value.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__projection_pushdown.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__since_daily.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__since_daily_multiple_passes.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__tab_characters_are_allowed.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__unexported.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__valid_time_domains.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__with_key.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__with_key_default_grouping.snap
  crates/sparrow-expressions/src/evaluators.rs
  crates/sparrow-instructions/src/columnar_value.rs
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-instructions/src/evaluators/macros.rs
  crates/sparrow-instructions/src/evaluators/map.rs
  crates/sparrow-instructions/src/evaluators/map/get_string_to_primitive.rs
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/src/serve/snapshots/sparrow_main__serve__file_service__tests__get_metadata_csv_data.snap
  crates/sparrow-main/src/serve/snapshots/sparrow_main__serve__file_service__tests__get_metadata_csv_path.snap
  crates/sparrow-main/src/serve/snapshots/sparrow_main__serve__file_service__tests__timestamp_with_timezone_gets_metadata.snap
  crates/sparrow-main/tests/e2e/collection_tests.rs
  crates/sparrow-runtime/src/read/parquet_file.rs
  crates/sparrow-syntax/src/syntax/fenl_type.rs
  proto/kaskada/kaskada/v1alpha/plan.proto
  proto/kaskada/kaskada/v1alpha/schema.proto
  testdata/parquet/data_with_map.parquet
  tests/integration/api/api_suite_test.go
Labels: enhancement, sparrow, proto, cla-signed

#456 test: add ignored duplicate row test
  crates/sparrow-runtime/src/execute/operation/merge.rs
Labels: sparrow, test, cla-signed

#521 Entity Key Filter Integration Test (#520)
  clients/python/src/fenlmagic/__init__.py
  clients/python/src/kaskada/client.py
  clients/python/src/kaskada/query.py
  clients/python/tests/test_query.py
  crates/sparrow-runtime/src/prepare.rs
  tests/integration/api/query_v1_slicing_test.go
  tests/integration/shared/helpers/helpers.go
Labels: python, sparrow, cla-signed

#531 Python 0.5.1 Version Bump
  clients/python/pyproject.toml
Labels: python, cla-signed

#541 return actual error instead of 'internal error'
  wren/service/helpers.go
Labels: wren, cla-signed

#539 moved helm chart to new repo
  .github/workflows/ci_helm_canary.yml
  charts/README.md
  charts/kaskada-canary/.helmignore
  charts/kaskada-canary/Chart.yaml
  charts/kaskada-canary/NOTES.txt
  charts/kaskada-canary/README.md
  charts/kaskada-canary/templates/_helpers.tpl
  charts/kaskada-canary/templates/deployment.yaml
  charts/kaskada-canary/templates/persistantVolumeClaims.yaml
  charts/kaskada-canary/templates/secret.yaml
  charts/kaskada-canary/templates/service.yaml
  charts/kaskada-canary/templates/serviceAccount.yaml
  charts/kaskada-canary/tests/__snapshot__/default_test.yaml.snap
  charts/kaskada-canary/tests/__snapshot__/s3_with_irsa_snapshot_test.yaml.snap
  charts/kaskada-canary/tests/__snapshot__/s3_with_key_snapshot_test.yaml.snap
  charts/kaskada-canary/tests/default_test.yaml
  charts/kaskada-canary/tests/s3_with_irsa_snapshot_test.yaml
  charts/kaskada-canary/tests/s3_with_key_snapshot_test.yaml
  charts/kaskada-canary/tests/values/s3_with_irsa.yaml
  charts/kaskada-canary/tests/values/s3_with_key.yaml
  charts/kaskada-canary/values.yaml
Labels: build, cla-signed

#532 feat: support more types for get evaluator for maps
  Cargo.lock
  crates/sparrow-compiler/src/diagnostics/code.rs
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-compiler/tests/compiler_golden_tests.rs
  crates/sparrow-instructions/Cargo.toml
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-instructions/src/evaluators/macros.rs
  crates/sparrow-instructions/src/evaluators/map.rs
  crates/sparrow-instructions/src/evaluators/map/get.rs
  crates/sparrow-instructions/src/evaluators/map/get_string_to_primitive.rs
  crates/sparrow-main/tests/e2e/basic_error_tests.rs
  crates/sparrow-main/tests/e2e/coalesce_tests.rs
  crates/sparrow-main/tests/e2e/collection_tests.rs
  crates/sparrow-runtime/src/execute/operation/testing.rs
  testdata/parquet/data_with_map.parquet
Labels: enhancement, sparrow, cla-signed

#543 feat: Add serde support for arrays
  Cargo.lock
  crates/sparrow-arrow/Cargo.toml
  crates/sparrow-arrow/src/serde.rs
Labels: enhancement, sparrow, cla-signed

#537 feat: Change catalog to produce asciidoc
  Cargo.toml
  crates/sparrow-catalog/README.md
  crates/sparrow-catalog/src/generate.rs
  crates/sparrow-catalog/src/generate/filters.rs
  crates/sparrow-catalog/src/update/execute_example.rs
  crates/sparrow-catalog/templates/catalog.md
  crates/sparrow-catalog/templates/category.adoc
  crates/sparrow-catalog/templates/function.adoc
  crates/sparrow-catalog/templates/index.adoc
  crates/sparrow-catalog/templates/nav.adoc
  crates/sparrow-catalog/templates/operators.adoc
  crates/sparrow-catalog/templates/partials/example.adoc
  crates/sparrow-main/tests/e2e/collection_tests.rs
Labels: enhancement, sparrow, cla-signed

#540 feat: support first and last non-windowed aggregations over DataType::Map
  crates/sparrow-arrow/src/concat_take.rs
  crates/sparrow-arrow/src/lib.rs
  crates/sparrow-arrow/src/serde.rs
  crates/sparrow-compiler/src/functions/pushdown.rs
  crates/sparrow-instructions/src/compute_store.rs
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-instructions/src/evaluators/aggregation.rs
  crates/sparrow-instructions/src/evaluators/aggregation/map.rs
  crates/sparrow-instructions/src/evaluators/aggregation/map/first_map_evaluator.rs
  crates/sparrow-instructions/src/evaluators/aggregation/map/last_map_evaluator.rs
  crates/sparrow-instructions/src/evaluators/aggregation/token.rs
  crates/sparrow-instructions/src/evaluators/aggregation/token/map_accum_token.rs
  crates/sparrow-instructions/src/evaluators/equality.rs
  crates/sparrow-instructions/src/evaluators/macros.rs
  crates/sparrow-main/tests/e2e/main.rs
  crates/sparrow-main/tests/e2e/map_tests.rs
Labels: enhancement, sparrow, cla-signed

#529 feat: add unlatched map spread and largeutf8 spreads
  crates/sparrow-main/tests/e2e/map_tests.rs
  crates/sparrow-runtime/src/execute/operation/spread.rs
Labels: enhancement, sparrow, cla-signed

#546 build: use statically linked libssl
  .github/workflows/release_engine.yml
  Cargo.lock
  Cargo.toml
Labels: sparrow, build, cla-signed

#554 engine release 0.10.0
  Cargo.lock
  Cargo.toml
  wren/.version
Labels: wren, sparrow, cla-signed

#545 feat: Use new hashing
  crates/sparrow-arrow/src/hash.rs
  crates/sparrow-arrow/src/hasher.rs
  crates/sparrow-catalog/catalog/daily.toml
  crates/sparrow-catalog/catalog/hash.toml
  crates/sparrow-catalog/catalog/hourly.toml
  crates/sparrow-catalog/catalog/minutely.toml
  crates/sparrow-catalog/catalog/monthly.toml
  crates/sparrow-catalog/catalog/since.toml
  crates/sparrow-catalog/catalog/sliding.toml
  crates/sparrow-catalog/catalog/yearly.toml
  crates/sparrow-expressions/src/evaluators/hash.rs
  crates/sparrow-instructions/src/evaluators/general.rs
  crates/sparrow-instructions/src/evaluators/map/get.rs
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-main/src/serve/preparation_service.rs
  crates/sparrow-main/src/serve/snapshots/sparrow_main__serve__compute_service__tests__sliced_query_smoke.snap
  crates/sparrow-main/tests/e2e/aggregation_tests.rs
  crates/sparrow-main/tests/e2e/cast_tests.rs
  crates/sparrow-main/tests/e2e/coalesce_tests.rs
  crates/sparrow-main/tests/e2e/comparison_tests.rs
  crates/sparrow-main/tests/e2e/decoration_tests.rs
  crates/sparrow-main/tests/e2e/entity_key_output_tests.rs
  crates/sparrow-main/tests/e2e/equality_tests.rs
  crates/sparrow-main/tests/e2e/formula_tests.rs
  crates/sparrow-main/tests/e2e/general_tests.rs
  crates/sparrow-main/tests/e2e/json_tests.rs
  crates/sparrow-main/tests/e2e/logical_tests.rs
  crates/sparrow-main/tests/e2e/lookup_tests.rs
  crates/sparrow-main/tests/e2e/map_tests.rs
  crates/sparrow-main/tests/e2e/math_tests.rs
  crates/sparrow-main/tests/e2e/multiple_tables.rs
  crates/sparrow-main/tests/e2e/notebooks/documentation_code_tests.rs
  crates/sparrow-main/tests/e2e/notebooks/event_data_tests.rs
  crates/sparrow-main/tests/e2e/notebooks/gaming_tests.rs
  crates/sparrow-main/tests/e2e/notebooks/sample_tests.rs
  crates/sparrow-main/tests/e2e/parquet_tests.rs
  crates/sparrow-main/tests/e2e/prepare_tests.rs
  crates/sparrow-main/tests/e2e/record_tests.rs
  crates/sparrow-main/tests/e2e/resumeable_tests.rs
  crates/sparrow-main/tests/e2e/shift_tests.rs
  crates/sparrow-main/tests/e2e/string_tests.rs
  crates/sparrow-main/tests/e2e/tick_tests.rs
  crates/sparrow-main/tests/e2e/time_tests.rs
  crates/sparrow-main/tests/e2e/when_tests.rs
  crates/sparrow-main/tests/e2e/windowed_aggregation_tests.rs
  crates/sparrow-main/tests/e2e/with_key_tests.rs
  crates/sparrow-runtime/src/execute/operation/lookup_request.rs
  crates/sparrow-runtime/src/execute/operation/with_key.rs
  crates/sparrow-runtime/src/prepare/column_behavior.rs
  crates/sparrow-runtime/src/prepare/slice_preparer.rs
  tests/integration/api/mat_pulsar_to_obj_store_test.go
  tests/integration/api/query_v1_slicing_test.go
Labels: enhancement, sparrow, cla-signed

#555 build: update tonic versions
  Cargo.lock
  Cargo.toml
  crates/sparrow-main/src/serve.rs
Labels: sparrow, build, cla-signed

#553 feat: add prototype python query builder
  sparrow-py/.coveragerc
  sparrow-py/.darglint
  sparrow-py/.flake8
  sparrow-py/Cargo.lock
  sparrow-py/Cargo.toml
  sparrow-py/README.md
  sparrow-py/codecov.yml
  sparrow-py/docs/.gitignore
  sparrow-py/docs/conf.py
  sparrow-py/docs/index.md
  sparrow-py/example.py
  sparrow-py/mypy.ini
  sparrow-py/noxfile.py
  sparrow-py/poetry.lock
  sparrow-py/pyproject.toml
  sparrow-py/pysrc/sparrow_py/__init__.py
  sparrow-py/pysrc/sparrow_py/expr.py
  sparrow-py/pysrc/sparrow_py/ffi.pyi
  sparrow-py/pysrc/sparrow_py/math.py
  sparrow-py/pysrc/sparrow_py/py.typed
  sparrow-py/pytests/expr_test.py
  sparrow-py/pytests/session_test.py
  sparrow-py/requirements-dev.txt
  sparrow-py/src/expr.rs
  sparrow-py/src/lib.rs
  sparrow-py/src/session.rs
Labels: enhancement, sparrow, cla-signed

#558 ref: Expose a QueryBuilder
  Cargo.lock
  crates/sparrow-compiler/Cargo.toml
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/data_context.rs
  crates/sparrow-compiler/src/dfg.rs
  crates/sparrow-compiler/src/diagnostics/feature_set_parts.rs
  crates/sparrow-compiler/src/frontend/resolve_arguments.rs
  crates/sparrow-compiler/src/lib.rs
  crates/sparrow-compiler/src/query_builder.rs
  crates/sparrow-runtime/src/read/table_reader.rs
  crates/sparrow-syntax/src/syntax/arguments.rs
  crates/sparrow-syntax/src/syntax/expr.rs
Labels: sparrow, refactor, cla-signed

#559 feat: Prototype calling Python UDFs from rust
  sparrow-py/Cargo.lock
  sparrow-py/Cargo.toml
  sparrow-py/poetry.lock
  sparrow-py/pyproject.toml
  sparrow-py/pysrc/sparrow_py/expr.py
  sparrow-py/pysrc/sparrow_py/ffi.pyi
  sparrow-py/pysrc/sparrow_py/udf.py
  sparrow-py/pytests/udf_test.py
  sparrow-py/src/lib.rs
  sparrow-py/src/udf.rs
Labels: enhancement, sparrow, cla-signed

#560 Stub out notebook for Slackbot demo
  examples/slackbot/Notebook.ipynb
  examples/slackbot/data/iloveai-initial-export/canvases.json
  examples/slackbot/data/iloveai-initial-export/channels.json
  examples/slackbot/data/iloveai-initial-export/demo/2023-07-25.json
  examples/slackbot/data/iloveai-initial-export/demo/2023-07-26.json
  examples/slackbot/data/iloveai-initial-export/general/2023-07-25.json
  examples/slackbot/data/iloveai-initial-export/general/2023-07-26.json
  examples/slackbot/data/iloveai-initial-export/integration_logs.json
  examples/slackbot/data/iloveai-initial-export/random/2023-07-25.json
  examples/slackbot/data/iloveai-initial-export/random/2023-07-26.json
  examples/slackbot/data/iloveai-initial-export/users.json
Labels: cla-signed

#562 feat: `index` for DataType::List
  crates/sparrow-api/src/kaskada/v1alpha/schema_traits.rs
  crates/sparrow-arrow/src/downcast.rs
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/dfg.rs
  crates/sparrow-compiler/src/functions/collection.rs
  crates/sparrow-compiler/src/functions/pushdown.rs
  crates/sparrow-compiler/src/plan/operation_to_plan.rs
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_diff_grouping.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_same_grouping.snap
  crates/sparrow-compiler/tests/snapshots/compiler_golden_tests__lookup_same_grouping_with_slicing.snap
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-instructions/src/evaluators/list.rs
  crates/sparrow-instructions/src/evaluators/list/index.rs
  crates/sparrow-main/tests/e2e/list_tests.rs
  crates/sparrow-main/tests/e2e/main.rs
  crates/sparrow-plan/src/inst.rs
  crates/sparrow-runtime/src/execute/operation/lookup_request.rs
  crates/sparrow-runtime/src/execute/operation/lookup_response.rs
  crates/sparrow-runtime/src/execute/operation/spread.rs
  crates/sparrow-syntax/src/syntax/fenl_type.rs
  proto/kaskada/kaskada/v1alpha/schema.proto
  testdata/parquet/data_with_list.parquet
Labels: enhancement, sparrow, proto, cla-signed

#561 feat: Connect Python builder to Rust
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/ast_to_dfg/ast_dfg.rs
  crates/sparrow-compiler/src/ast_to_dfg/record_ops_to_dfg.rs
  crates/sparrow-compiler/src/data_context.rs
  crates/sparrow-compiler/src/dfg.rs
  crates/sparrow-compiler/src/diagnostics/collector.rs
  crates/sparrow-compiler/src/frontend.rs
  crates/sparrow-compiler/src/functions/function.rs
  crates/sparrow-compiler/src/query_builder.rs
  sparrow-py/Cargo.lock
  sparrow-py/Cargo.toml
  sparrow-py/mypy.ini
  sparrow-py/noxfile.py
  sparrow-py/pyproject.toml
  sparrow-py/pysrc/sparrow_py/__init__.py
  sparrow-py/pysrc/sparrow_py/_ffi.pyi
  sparrow-py/pysrc/sparrow_py/expr.py
  sparrow-py/pysrc/sparrow_py/ffi.pyi
  sparrow-py/pysrc/sparrow_py/math.py
  sparrow-py/pysrc/sparrow_py/session.py
  sparrow-py/pysrc/sparrow_py/udf.py
  sparrow-py/pytests/expr_test.py
  sparrow-py/pytests/session_test.py
  sparrow-py/pytests/udf_test.py
  sparrow-py/src/expr.rs
  sparrow-py/src/lib.rs
  sparrow-py/src/session.rs
Labels: enhancement, sparrow, cla-signed

#565 feat: sparrow_py initial table management
  sparrow-py/pysrc/sparrow_py/session.py
  sparrow-py/pytests/session_test.py
Labels: enhancement, sparrow, cla-signed

#564 python client download specific engine release
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/kaskada/api/release.py
  clients/python/src/kaskada/api/session.py
  clients/python/tests/api/test_session.py
Labels: python, cla-signed

#566 feat: Add a Table class on the Rust side
  sparrow-py/pysrc/sparrow_py/__init__.py
  sparrow-py/pysrc/sparrow_py/_ffi.pyi
  sparrow-py/pysrc/sparrow_py/expr.py
  sparrow-py/pysrc/sparrow_py/math.py
  sparrow-py/pysrc/sparrow_py/session.py
  sparrow-py/pysrc/sparrow_py/table.py
  sparrow-py/pytests/expr_test.py
  sparrow-py/pytests/session_test.py
  sparrow-py/pytests/table_test.py
  sparrow-py/src/expr.rs
  sparrow-py/src/lib.rs
  sparrow-py/src/session.rs
  sparrow-py/src/table.rs
Labels: enhancement, cla-signed

#563 bug: fix non-generic conversions in string spread
  crates/sparrow-runtime/src/execute/operation/spread.rs
Labels: bug, sparrow, cla-signed

#567 Convert raw data to Parquet, implement as much as possible with existing tooling.
  examples/slackbot/Notebook.ipynb
  examples/slackbot/README.md
  examples/slackbot/messages.parquet
Labels: cla-signed

#568 feat: Prepare data in rust
  Cargo.lock
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/ast_to_dfg/ast_dfg.rs
  crates/sparrow-compiler/src/data_context.rs
  crates/sparrow-compiler/src/dfg.rs
  crates/sparrow-compiler/src/diagnostics/builder.rs
  crates/sparrow-compiler/src/diagnostics/collector.rs
  crates/sparrow-compiler/src/frontend/resolve_arguments.rs
  crates/sparrow-compiler/src/functions/function.rs
  crates/sparrow-compiler/src/functions/registry.rs
  crates/sparrow-compiler/src/lib.rs
  crates/sparrow-compiler/src/nearest_matches.rs
  crates/sparrow-compiler/src/time_domain.rs
  crates/sparrow-execution/src/lib.rs
  crates/sparrow-main/tests/e2e/basic_error_tests.rs
  crates/sparrow-runtime/src/lib.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/prepare/preparer.rs
  crates/sparrow-session/Cargo.toml
  crates/sparrow-session/src/error.rs
  crates/sparrow-session/src/expr.rs
  crates/sparrow-session/src/lib.rs
  crates/sparrow-session/src/session.rs
  crates/sparrow-session/src/table.rs
  sparrow-py/Cargo.lock
  sparrow-py/Cargo.toml
  sparrow-py/pysrc/sparrow_py/_ffi.pyi
  sparrow-py/pytests/table_test.py
  sparrow-py/src/error.rs
  sparrow-py/src/expr.rs
  sparrow-py/src/lib.rs
  sparrow-py/src/session.rs
  sparrow-py/src/table.rs
Labels: enhancement, sparrow, cla-signed

#569 feat: collect to list (non-windowed) (primitive/strings/booleans)
  crates/sparrow-compiler/src/ast_to_dfg.rs
  crates/sparrow-compiler/src/functions/collection.rs
  crates/sparrow-instructions/src/evaluators.rs
  crates/sparrow-instructions/src/evaluators/aggregation/token.rs
  crates/sparrow-instructions/src/evaluators/aggregation/token/collect_token.rs
  crates/sparrow-instructions/src/evaluators/list.rs
  crates/sparrow-instructions/src/evaluators/list/collect_boolean.rs
  crates/sparrow-instructions/src/evaluators/list/collect_map.rs
  crates/sparrow-instructions/src/evaluators/list/collect_primitive.rs
  crates/sparrow-instructions/src/evaluators/list/collect_string.rs
  crates/sparrow-main/tests/e2e/collect_tests.rs
  crates/sparrow-main/tests/e2e/main.rs
  crates/sparrow-plan/src/inst.rs
Labels: enhancement, sparrow, cla-signed

#571 fix wren panic on failed complication
  tests/integration/api/queries_v1_test.go
  tests/integration/api/query_v1_panic_test.go
  wren/service/query_v1.go
Labels: wren, cla-signed

#572 feat: Allow writing to a channel
  crates/sparrow-main/src/serve/compute_service.rs
  crates/sparrow-materialize/src/materialize/materialization.rs
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/compute_executor.rs
  crates/sparrow-runtime/src/execute/error.rs
  crates/sparrow-runtime/src/execute/output.rs
  crates/sparrow-runtime/src/execute/output/object_store.rs
  crates/sparrow-runtime/src/execute/output/pulsar.rs
  crates/sparrow-runtime/src/execute/progress_reporter.rs
Labels: enhancement, sparrow, proto, cla-signed
