Repository kaskada-ai/kaskada, pull requests merged in 2023-11, with the labels that each got.

#844 ref: fix circular dependencies
  Cargo.lock
  crates/sparrow-batch/Cargo.toml
  crates/sparrow-plan-execution/Cargo.toml
  crates/sparrow-plan-execution/src/lib.rs
  crates/sparrow-session/Cargo.toml
  crates/sparrow-session/src/partitioned.rs
  crates/sparrow-session/src/partitioned/partitioned.rs
  crates/sparrow-session/src/partitioned/tests/basic_tests.rs
  crates/sparrow-session/src/tests.rs
Labels: sparrow, refactor, cla-signed

#846 tests: Fix session tests
  crates/sparrow-session/src/partitioned.rs
  crates/sparrow-session/src/partitioned/partitioned.rs
  crates/sparrow-session/src/partitioned/tests.rs
  crates/sparrow-session/src/tests.rs
Labels: sparrow, cla-signed

#850 Revert CI changes from #835
  .github/workflows/ci_python.yml
Labels: build, cla-signed

#848 blog: Four Pillars of Real-Time Gen AI
  python/Cargo.lock
  python/docs/_static/images/blog/four_pillars_of_realtime_genai.svg
  python/docs/blog/_metadata.yml
  python/docs/blog/posts/2023-11-06-four-pillars-of-realtime-ai.qmd
  python/docs/blog/posts/_metadata.yml
Labels: sparrow, cla-signed
