Repository kaskada-ai/kaskada, pull requests merged in 2023-06, with the labels that each got.

#410 feat: introducing physical plans
  Cargo.lock
  Cargo.toml
  crates/sparrow-physical/Cargo.toml
  crates/sparrow-physical/src/expr.rs
  crates/sparrow-physical/src/lib.rs
  crates/sparrow-physical/src/plan.rs
  crates/sparrow-physical/src/snapshots/sparrow_physical__expr__tests__physical_exprs_yaml.snap
  crates/sparrow-physical/src/step.rs
Labels: enhancement, sparrow, cla-signed

#408 Add Admin Service URL to Pulsar Backed Table
  clients/python/src/kaskada/table.py
  clients/python/tests/test_table.py
Labels: python, cla-signed

#423 rectified a spelling mistake in README file
  README.md
Labels: cla-signed

#421 Update aggregation-and-windowing.adoc
  docs-src/modules/fenl/pages/aggregation-and-windowing.adoc
Labels: documentation, cla-signed

#426 Remove Publish Time from non-prepare Pulsar Paths
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/read/stream_reader.rs
  crates/sparrow-runtime/src/streams/pulsar/stream.rs
Labels: sparrow, cla-signed

#428 Update exporting-for-training.adoc
  docs-src/modules/tools-and-resources/pages/exporting-for-training.adoc
Labels: documentation, cla-signed

#431 Revert "Remove Publish Time from non-prepare Pulsar Paths"
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/read/stream_reader.rs
  crates/sparrow-runtime/src/streams/pulsar/stream.rs
Labels: sparrow, cla-signed

#437 fixed ReconcileMaterializations panic
  wren/internal/materialization_client.go
  wren/main.go
Labels: wren, cla-signed

#433 Update Streaming Avro Record Output
  crates/sparrow-runtime/src/metadata/raw_metadata.rs
  crates/sparrow-runtime/src/prepare.rs
  crates/sparrow-runtime/src/read/stream_reader.rs
  crates/sparrow-runtime/src/streams/pulsar/stream.rs
Labels: python, wren, sparrow, cla-signed

#438 Kaskada Release 0.7.1 and Python 0.4.1
  Cargo.lock
  Cargo.toml
  clients/python/pyproject.toml
  wren/.version
Labels: python, wren, sparrow, cla-signed

#439 use mmap instead of direct i/o
  crates/sparrow-instructions/src/compute_store.rs
Labels: sparrow, cla-signed

#443 fixed Jupyter docker build
  Dockerfile.jupyter
Labels: cla-signed

#444 bump version to 0.8.2
  Cargo.lock
  Cargo.toml
  wren/.version
Labels: cla-signed

#446 fix juypter dockerfile and bump versions
  Cargo.lock
  Cargo.toml
  Dockerfile.jupyter
  wren/.version
Labels: wren, sparrow, cla-signed

#449 benchmark: Initial scripts for some benchmarking
  benchmarks/sql-benchmark/.gitignore
  benchmarks/sql-benchmark/generate.py
  benchmarks/sql-benchmark/kaskada.ipynb
  benchmarks/sql-benchmark/queries_duckdb.sql
Labels: cla-signed

#450 Update Pulsar Output Per Batch
  crates/sparrow-runtime/src/execute/output/pulsar.rs
  crates/sparrow-runtime/src/streams/pulsar/stream.rs
  tests/integration/api/mat_pulsar_to_pulsar_test.go
Labels: sparrow, cla-signed

#452 fix: feature flags in main
  crates/sparrow-arrow/src/batch.rs
  crates/sparrow-arrow/src/lib.rs
Labels: bug, sparrow, cla-signed

#451 bug: fix materialization stop signal
  crates/sparrow-materialize/src/materialize/materialization_control.rs
  crates/sparrow-runtime/src/execute.rs
  crates/sparrow-runtime/src/execute/compute_executor.rs
  crates/sparrow-runtime/src/execute/operation.rs
  crates/sparrow-runtime/src/execute/operation/scan.rs
  crates/sparrow-runtime/src/execute/operation/testing.rs
  crates/sparrow-runtime/src/execute/output/pulsar.rs
Labels: bug, sparrow, cla-signed

#453 enable pulsar tests and remove some old tests
  tests/integration/api/mat_pulsar_to_pulsar_test.go
  tests/integration/api/materialization_redis_ai_test.go
  tests/integration/api/materializations_test.go
  tests/integration/api/query_v1_redis_ai_test.go
Labels: cla-signed

#460 test: Use gproto matchers for schemas
  tests/integration/api/go.mod
  tests/integration/api/go.sum
  tests/integration/api/query_v1_csv_test.go
  tests/integration/api/query_v1_incremental_shift_test.go
  tests/integration/api/query_v1_incremental_test.go
  tests/integration/api/query_v1_multiple_table_test.go
  tests/integration/api/query_v1_panic_test.go
  tests/integration/api/query_v1_test.go
Labels: test, cla-signed

#461 bug: manager make directory for sqlite
  wren/client/ent_client.go
Labels: bug, wren, cla-signed

#454 ref: Move hashing to sparrow-arrow
  Cargo.lock
  Cargo.toml
  crates/sparrow-arrow/Cargo.toml
  crates/sparrow-arrow/src/hash.rs
  crates/sparrow-arrow/src/hasher.rs
  crates/sparrow-arrow/src/lib.rs
  crates/sparrow-compiler/src/types/inference.rs
  crates/sparrow-instructions/src/evaluators/general.rs
  crates/sparrow-kernels/Cargo.toml
  crates/sparrow-kernels/src/lib.rs
  crates/sparrow-runtime/src/execute/operation/lookup_request.rs
  crates/sparrow-runtime/src/execute/operation/with_key.rs
  crates/sparrow-runtime/src/prepare/column_behavior.rs
  crates/sparrow-runtime/src/prepare/slice_preparer.rs
Labels: sparrow, refactor, cla-signed
